.map-container {
    position: relative;
    height: 50vh;
    width: 150%;
  }
  
  .sidebarStyle {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 12px;
    /* background-color: #404040; */
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }

  .main-css {
    height: 70vh;
  }