.map-container {
    position: absolute;
    top: 80px;
    bottom: 65px;
    left: 0;
    right: 0;
  }
  
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 0;
    margin: 12px;
    /* background-color: #404040; */
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }

  .main-css {
    height: 100vh;
  }